*{margin:0;
    padding:0;}
    h1{

        font-size: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
    } 
    h2{
    
        font-size: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
    } 
    
    header,section,footer,aside,nav,article,hgroup{
        display:block;
    
    
       
    }
    body{
    
        text-align:center;
        background:gray;

    }
    div{
    
            width:960px;
         
            border:1px solid black;
            margin:15px auto;
            background: white;
    }
    .green{
    
        background:#FFFBB9;
        border:1px solid#999999;
        padding:20px;
       }
       .green h1{
    
       text-align:left;}
       .menu{
    
        background:#ccc;
        padding:5px 15px;
    
        text-align:left
    
    
       }
       .menu li{
        list-style:none;
        
        padding:15px;
        font:bold 14px verdana;
        display:inline-block;
    
    }
    .seccion{
    
      margin:20px;
    width:60%;
    
    float:left;
 
    
    }
    article{
    
      background:#fffbcc ;
      border:1px solid#999;
      padding:20px;
      margin-bottom:15px;
    
        }
        article footer
        {
    
            text-align:right;
            margin:20px auto;
    
              }
              time{
                  color:#999 ;
              }
    .columna{
    
    width:300px;
    float:left;
    margin:20px;
    }
    .columna blockquote{
        border:1px solid black;
        padding:40px;
        background:#FFFBB9;
        margin-bottom:20px
    }            
    .pie{
    
    clear:both;
        padding: 20px;
        background: #2d3436;
        color:white;
        }
        img{
        
           width:80px;
           display:block;
           margin:20px auto;
    
        }